<ul class="nav flex-column">
  <li class="nav-item backend-menu-item">
    <a class="nav-link text-white" href="#">Dashboard</a>
  </li>
  <li class="nav-item backend-menu-item">
    <a class="nav-link text-white" href="{% url 'list_customers' %}"
      >Customers</a
    >
  </li>
  <li class="nav-item backend-menu-item">
    <a class="nav-link text-white" href="{% url 'list_employees' %}">HR</a>
  </li>
  <li class="nav-item backend-menu-item">
    <a class="nav-link text-white" href="#">Sales</a>
  </li>
  <li class="nav-item backend-menu-item">
    <a class="nav-link text-white" href="{% url 'view_quote_requests'%}"
      >Quote Requests</a
    >
  </li>
  <li class="nav-item backend-menu-item">
    <a class="nav-link text-white" href="{% url 'view_resumes' %}"
      >View Resumes</a
    >
  </li>
</ul>
