{% extends 'frontend_base.html' %} {% block content %} {% load static %}
<div class="container p-5 login-section ">
  <p class="text-center">
    <a href="{% url 'index' %}"
      ><img src="{% static 'SiteApp/img/logo.png'%}" alt="" width="350px"
    /></a>
  </p>

  {% load crispy_forms_tags %} {% if form.errors %}
  <p>Invalid Credentials.Try Again.</p>
  {% endif%}

  <form action="{% url 'login' %}" method="post" class="login-form">
    {{ form|crispy }} {% csrf_token %}
    <input type="hidden" name="next" value="{{next}}" />
    <input type="submit" value="Login" class="larway-btn" />
  </form>
</div>
<div class="gap-4"></div>
{% endblock %}
